body{
    background-color: #EAF6F6;
}
.profile_img {
    height: 200px;
  }
h1 , h3 {
  color: #66bfbf;
}
  hr {
    background-color: white;
    border-style:none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
